{
	"root": true,
	"extends": [
		"plugin:@wordpress/eslint-plugin/recommended-with-formatting",
		"plugin:import/recommended",
		"plugin:eslint-comments/recommended"
	],
	"env": {
		"browser": true
	},
	"rules": {
		"jsdoc/check-indentation": "error",
		"@wordpress/dependency-group": "error"
	},
	"overrides": [{
		"files": [
			"**/__tests__/**/*.js",
			"**/test/*.js",
			"**/?(*.)test.js",
			"tests/js/**/*.js"
		],
		"extends": [
			"plugin:jest/all"
		],
		"rules": {
		  // Add Rules for Jest here
		}
	}]
}
