@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  --color-foreground: var(--wp--preset--color--foreground);
  --color-background: var(--wp--preset--color--background);
  --color-primary: var(--wp--preset--color--primary);
  --color-secondary: var(--wp--preset--color--secondary);
  --color-tertiary: var(--wp--preset--color--tertiary);

  --text-small: var(--wp--preset--font-size--small);
  --text-medium: var(--wp--preset--font-size--medium);
  --text-large: var(--wp--preset--font-size--large);
  --text-x-large: var(--wp--preset--font-size--x-large);
  --text-xx-large: var(--wp--preset--font-size--xx-large);

  --max-width-content: 620px;
  --max-width-wide: 1260px;

  --font-system: var(--wp--preset--font-family--system-font);
  --font-serif: var(--wp--preset--font-family--source-serif-pro);

  --spacing-small: var(--wp--custom--spacing--small);
  --spacing-medium: var(--wp--custom--spacing--medium);
  --spacing-large: var(--wp--custom--spacing--large);
  --spacing-outer: var(--wp--custom--spacing--outer);
}